/* Стили для страницы истории */
.table-history {
    font-size: 14px;
}

.table-history th {
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
}

.table-history tr:hover {
    background-color: #f8f9fa;
}

.repeat-search {
    white-space: nowrap;
}

.delete-history {
    transition: all 0.2s;
}

.delete-history:hover {
    transform: scale(1.1);
    color: white !important;
}

.favorite-btn i.bi-star-fill {
    color: #ffc107;
    outline-color: black;
}


.favorite-btn i.bi-star {
    color: #6c757d;
}

.favorite-btn:hover {
    background-color: rgba(243, 193, 13, 0.8);
    transform: scale(1.1);
}

.form-switch {
    padding-top: 25px;
}

.table-history tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.table-history {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.report-checkbox:checked {
    background-color: #198754;
    border-color: #198754;
}

#generateReportBtn {
    transition: all 0.3s;
    position: relative;
    z-index: 1000;
    margin-top: 20px;
}

#generateReportBtn:disabled {
    opacity: 0.5;
}