#loadingSpinner {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}

/* Подсветка метки на карте */
.ymaps-2-1-79-placemark-overlay {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

#profileDropdown {
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
}

#profileDropdown:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#nav-logo {
    height: 50px;
    width: auto;
    max-width: 150px;
    object-fit: contain;
    margin-right: 10px;
}

#submitBtn {
    margin-bottom: 20px;
}

.history-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.history-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.3s;
}

.history-item:hover {
    background: #f8f9fa;
}

.history-params {
    font-size: 0.9rem;
    color: #666;
}

.history-result {
    font-weight: bold;
    color: #2a6496;
}

.history-date {
    font-size: 0.8rem;
    color: #999;
}

.history-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: none;
    font-size: 14px;
    line-height: 1.5;
}

.history-item:hover .history-tooltip {
    display: block;
}

.tooltip {
    position: absolute;
    z-index: 9999; /* Выше всех элементов */
}

.tooltip-row {
    display: flex;
    margin-bottom: 8px;
}

.tooltip-label {
    font-weight: 500;
    color: #555;
    min-width: 140px;
}

.tooltip-value {
    color: #333;
    flex-grow: 1;
}

.tooltip-inner {
    max-width: 300px;
    text-align: left;
    background-color: #fff;
    color: #000;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.card-body {
    padding-bottom: 0px;
}

#result {
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#result .display-4 {
    font-size: 2.5rem;
    color: #2a6496;
    font-weight: 600;
}

@media (max-width: 576px) {
    #nav-logo {
        height: 30px;
        max-width: 120px;
    }

    .history-card, #result {
        height: 100%;
        min-height: 300px;
    }

    .history-card .card-body, #result .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}