{% extends 'base.html' %}
{% load static param_names %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=3ae0c17a-35e5-463a-8274-44abd3520362&lang=ru_RU"></script>
<link rel="stylesheet" href="{% static 'css/history.css' %}">
<script src="{% static 'js/history.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


<div class="container mt-5">
    <h1 class="mb-4">Полная история поиска</h1>

    <div class="table-responsive">
        <table class="table table-history">
            <thead class="table-light">
            <tr>
                <th>Дата</th>
                <th>Все параметры</th>
                <th>Результат</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in history_items %}
            <tr data-lat="{{ item.search_data.geo_lat }}" data-lon="{{ item.search_data.geo_lon }}">
                <td>{{ item.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <div class="params-grid">
                        {% for key, value in item.search_data.items %}
                        <div class="param-item">
                            {% if key != 'geo_lat' and key != 'geo_lon' and key != 'region' %}
                            <span class="param-name">{{ key|translate_param }}:</span>
                            <span class="param-value">
                                {% if key == 'building_type' %}
                                    {% if value == 1 %}Панельный{% elif value == 2 %}Монолитный{% elif value == 3 %}Кирпичный{% elif value == 4 %}Блочный{% elif value == 5 %}Деревянный{% else %}Другой{% endif %}
                                {% elif key == 'object_type' %}
                                    {% if value == 1 %}Новостройка{% else %}Вторичка{% endif %}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="fw-bold" id="price-{{ item.id }}" data-price="{{ item.result|floatformat:'0' }}"></td>
                <td>
                    <button class="btn btn-lg btn-outline-danger delete-history" data-id="{{ item.id }}">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="btn btn-lg btn-outline-warning favorite-btn" data-id="{{ item.id }}"
                            data-favorite="{{ item.is_favorite }}">
                        {% if item.is_favorite %}
                        <i class="bi bi-star-fill"></i>
                        {% else %}
                        <i class="bi bi-star"></i>
                        {% endif %}
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center py-4">История поиска пуста</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.querySelectorAll('[id^="price-"]').forEach(function (el) {
        const price = parseFloat(el.dataset.price);
        const roundedPrice = Math.ceil(price / 50000) * 50000;
        el.textContent = new Intl.NumberFormat('ru-RU').format(roundedPrice) + ' ₽';
    });
</script>
{% endblock %}