<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор стоимости недвижимости</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<style>
    #map {
        width: 100%;
        height: 400px;
        margin: 20px 0;
        border-radius: 8px;
    }
</style>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/frontend/img/icon.jpg" alt="Логотип" class="d-inline-block align-text-top" id="nav-logo">
        </a>
        <div class="d-flex gap-2">
            {% if user.is_authenticated %}
            <!-- Показываем для авторизованных -->
            <a class="btn" id="history" href="{% url 'history' %}">
                <i class="bi bi-clock-history" style="font-size: 2rem; color: #0d6efd;"></i>
            </a>
            <div class="dropdown">
                <button class="btn" id="profileDropdown" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle" style="font-size: 2rem; color: #0d6efd;"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><h6 class="dropdown-header">Профиль</h6></li>
                    <li><span class="dropdown-item">Пользователь: {{ user.username }}</span></li>
                    <li><span class="dropdown-item">Почта: {{ user.email }}</span></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Выйти</button>
                        </form>
                    </li>
                </ul>
            </div>
            {% else %}
            <!-- Показываем для гостей -->
            <div class="d-flex gap-2">
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
                <a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Калькулятор стоимости квартиры</h1>
    {% if user.is_authenticated %}
    <span class="navbar-text me-2 d-none d-sm-inline">
    Добро пожаловать, {{ user.first_name|default:user.username }}!
</span>
    {% endif %}
    <form id="predictionForm">
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label">Выберите местоположение на карте:</label>
                <div class="alert alert-info mb-2">
                    <i class="bi bi-info-circle"></i> Переместите метку на карте, чтобы указать точное
                    местоположение
                </div>
                <div id="map"></div>
                <input type="hidden" id="geo_lat" value="45.091628">
                <input type="hidden" id="geo_lon" value="38.901597">
            </div>
            <div class="col-md-6">
                <label for="region" class="form-label">Регион</label>
                <input type="text" class="form-control" id="region" value="Ростовская область" required>
            </div>
            <div class="col-md-6">
                <label for="building_type" class="form-label">Тип здания</label>
                <select class="form-select" id="building_type" required>
                    <option value="0">Другой</option>
                    <option value="1">Панельный</option>
                    <option value="2">Монолитный</option>
                    <option value="3">Кирпичный</option>
                    <option value="4">Блочный</option>
                    <option value="5">Деревянный</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="rooms" class="form-label">Количество комнат</label>
                <input type="number" class="form-control" id="rooms" min="0" required>
            </div>
            <div class="col-md-4">
                <label for="area" class="form-label">Общая площадь (м²)</label>
                <input type="number" class="form-control" id="area" step="0.1" required>
            </div>
            <div class="col-md-4">
                <label for="kitchen_area" class="form-label">Площадь кухни (м²)</label>
                <input type="number" class="form-control" id="kitchen_area"
                       min="5" step="0.1" required
                       placeholder="Минимум 5 м²">
            </div>
            <div class="col-md-4">
                <label for="level" class="form-label">Этаж</label>
                <input type="number" class="form-control" id="level" min="1" required>
            </div>
            <div class="col-md-4">
                <label for="levels" class="form-label">Этажей в доме</label>
                <input type="number" class="form-control" id="levels" min="1" required>
            </div>
            <div class="col-md-4">
                <label for="object_type" class="form-label">Тип объекта</label>
                <select class="form-select" id="object_type" required>
                    <option value="1">Новостройка</option>
                    <option value="2" selected>Вторичка</option>
                </select>
            </div>
            <script>
                let today = new Date();
                let currentMonth = today.getMonth() + 1; // Месяц (1-12)
                let currentYear = today.getFullYear();   // Год

                // Установка значений в поля ввода после загрузки страницы
                window.onload = function () {
                    document.getElementById('year').value = currentYear;
                    document.getElementById('month').value = currentMonth;
                };
            </script>
            <div class="col-md-6">
                <input type="hidden" class="form-control" id="year" min="1900" max="2100" required>
            </div>
            <div class="col-md-6">
                <input type="hidden" class="form-control" id="month" min="1" max="12" required>
            </div>
            <div class="col-12 position-relative">
                <button type="submit" class="btn btn-primary" id="submitBtn">
                    Рассчитать стоимость
                </button>
                <div class="spinner-border text-primary d-none" role="status" id="loadingSpinner">
                    <span class="visually-hidden">Загрузка...</span>
                </div>
                <div class="invalid-feedback" id="submitError"></div>
            </div>
            {% if user.is_authenticated %}
            <!-- Блоки истории и результатов в одной строке -->
            <div class="col-md-8" style="margin-bottom: 20px">
                <div id="result" class="card md-light rounded">
                    <div class="card-header">
                        <h5 style="margin-bottom: .1rem;">Результат оценки</h5>
                    </div>
                    <div class="card-body text-center">
                        <div class="display-4" id="price">-</div>
                        <div class="text-muted mt-2">Среднерыночная стоимость</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card history-card">
                    <div class="card-header">
                        <h5 style="margin-bottom: .1rem;">История запросов (последние 3)</h5>
                    </div>
                    <div class="card-body">
                        <div id="historyList">
                            <div class="text-muted">Загрузка истории...</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Подключите API Яндекс.Карт -->
<script src="https://api-maps.yandex.ru/2.1/?apikey=3ae0c17a-35e5-463a-8274-44abd3520362&lang=ru_RU"
        type="text/javascript"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>