{% extends "html/base.html" %}

{% block content %}
<div class="auth-container">
    <div class="logo">
        <img src="/frontend/img/icon.jpg" alt="icon">
        <h2>Установка нового пароля</h2>
    </div>
    
    {% if form.errors %}
    <div class="alert alert-danger">
        Пожалуйста, исправьте ошибки ниже.
    </div>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">Новый пароль</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="text-danger">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label">Подтвердите новый пароль</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="text-danger">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
    </form>
</div>
{% endblock %}